<!-- <section class="propety-binding">

  <article>
    <h3> Interpolação </h3>
    <p>String renderizada com interpolação: {{url}}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso: {{cursoAngular && getCurtirCurso()}}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{urlImagem}}">
    <img [src]='urlImagem'>
  </article>

</section>
<section>
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block':'none'">
        Esse texto somente deve aparecer em caso de erro.
      </div>
      <div class="alert alert-info" role="alert" [style.display]="classe.value == 'alert-info' ? 'block':'none'">
        Texto apenas par informações e testes.
      </div>
      <div class="alert alert-success" role="alert" [style.display]="classe.value == 'alert-success' ? 'block':'none'">
        Está tudo certo, continue o bom trabalho.
      </div>
      <div class="alert alert-warning" role="alert"
        [style.display]="classe.value == 'alert-warning' ? 'block' : 'none'">
        Estamos bem, mas preste atenção.
      </div>


    </div>
  </article>

</section> -->

<section class="event-binding">

  <article>

    <h3>Event binding</h3>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

      <br><br>

      <input type="text" (keyup)="onKeyUp($event)"/>

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <span (mouseover)="onMouseOverOut()" 
        (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
        Passe o mouse sobre mim
      </span>
    </div>


  </article>

</section>

<br><br>

<app-meu-form></app-meu-form>
<section class="input-output-properties">

  <article>
    <h3>Input/Output Properties</h3>

    <app-curso [nome]="nomeDoCurso"></app-curso>

    <contador [valor]="valorInicial"
      (mudouValor)="onMudouValor($event)"
    ></contador>

  
  </article>
</section>