<app-data-binding></app-data-binding>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<!-- <app-ciclo [valorInicial]="valor" **ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button> -->